<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Edit!</h1>
	<form action="/music/index/play/<%= music.id %>" method="POST" id="editID">
		<input type="text" name="name" value="<%= music.name %>" placeholder="Name"/><br>
		<input type="text" name="id" value="<%= music.spotify_id %>" placeholder="Spotify ID"/><br>
		<input type="text" name="songs" value="<%= music.songs[0] %>" placeholder="Songs"/><br>
		<input type="text" name="songs" value="<%= music.songs[1] %>" placeholder="Songs"/><br>
		<input type="text" name="songs" value="<%= music.songs[2] %>" placeholder="Songs"/><br>
		<input type="text" name="songs" value="<%= music.songs[3] %>" placeholder="Songs"/><br>
		<input type="text" name="songs" value="<%= music.songs[4] %>" placeholder="Songs"/><br>
		<input type="text" name="songs" value="<%= music.songs[5] %>" placeholder="Songs"/><br>
		<input type="text" name="songs" value="<%= music.songs[6] %>" placeholder="Songs"/><br>
		<input type="text" name="songs" value="<%= music.songs[7] %>" placeholder="Songs"/><br>
		<input type="text" name="songs" value="<%= music.songs[8] %>" placeholder="Songs"/><br>
		<input type="text" name="songs" value="<%= music.songs[9] %>" placeholder="Songs"/><br>


		<input type="text" name="song_url" value="<%= music.song_url[0] %>" placeholder="Song URL"/><br>
		<input type="text" name="song_url" value="<%= music.song_url[1] %>" placeholder="Song URL"/><br>
		<input type="text" name="song_url" value="<%= music.song_url[2] %>" placeholder="Song URL"/><br>
		<input type="text" name="song_url" value="<%= music.song_url[3] %>" placeholder="Song URL"/><br>
		<input type="text" name="song_url" value="<%= music.song_url[4] %>" placeholder="Song URL"/><br>
		<input type="text" name="song_url" value="<%= music.song_url[5] %>" placeholder="Song URL"/><br>
		<input type="text" name="song_url" value="<%= music.song_url[6] %>" placeholder="Song URL"/><br>
		<input type="text" name="song_url" value="<%= music.song_url[7] %>" placeholder="Song URL"/><br>
		<input type="text" name="song_url" value="<%= music.song_url[8] %>" placeholder="Song URL"/><br>
		<input type="text" name="song_url" value="<%= music.song_url[9] %>" placeholder="Song URL"/><br>
		
		<input type="hidden" name="_method" value="PUT"/><br><br>
		<button id='submit'>Submit!</button>
	</form>
</body>
</html>